/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Astronaut';
  src: url('assets/astronaut.regular.ttf');
}

body {
  background-color: #000;
}
